
.card {
  display: inline-block;
  position: relative;
  z-index: 0;
  cursor: default;
  font-size: 18pt;
  background-color: transparent;
}

.card .playingCard {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card.playable:hover .playingCard {
  top: -1em;
}

/* Class from playingCards */
.playingCard {
  font-size: inherit !important;
}
