<!DOCTYPE html>
<html>
  <head>
    <title>Durak</title>
    <link rel="stylesheet" href="/src/reset.css" />
    <link rel="stylesheet" href="/src/main.css" />
    <link rel="stylesheet" href="/src/lib/jsPlayingCards/playingCards.ui.css"></script>
    <script type="text/javascript" src="/src/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/src/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/src/lib/backbone-min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/src/lib/jsPlayingCards/playingCards.js"></script>
    <script type="text/javascript" src="/src/lib/jsPlayingCards/playingCards.ui.js"></script>
    <script type="text/javascript" data-main="/src/_requirejs/loader"
        src="/src/_requirejs/require.js"></script>
  </head>
  <body>
    Loading Durak, please wait
  </body>
</html>
