
.card {
  display: inline-block;
  position: relative;
  z-index: 0;
  cursor: default;
  font-size: 18pt;
}


.card ~ .card {
  /* Card width is 3.8 em */
  margin-left: -3.3em;
}


/* Class from playingCards */
.playingCard {
  font-size: inherit !important;
}
